#arbilTableContainer{
    overflow: auto;
    max-height: 450px;
    padding-left: 5px;
}

.arbilTable{
    border-collapse: collapse;
}

.arbilTable th{
    background: #eee;
}

.arbilTable th, .arbilTable td{
    border: 1px solid #ccc;
    text-align: left;
    padding: 2px;
    overflow: hidden;
}

.arbilTable td span{
    display: block;
    max-height: 5em;
    overflow: hidden;
}

.arbilTable.non-horizontal{
    width: 100%;
}

.arbilTable.non-horizontal td{
    width: 50%;
}